TPGameDemo/Binaries
TPGameDemo/DerivedDataCache
TPGameDemo/Intermediate
TPGameDemo/Saved
TPGameDemo/TPGameDemo.VC.db
TPGameDemo/Build
TPGameDemo 4.18/Binaries
TPGameDemo 4.18/DerivedDataCache
TPGameDemo 4.18/Intermediate
TPGameDemo 4.18/Saved
TPGameDemo 4.18/TPGameDemo.VC.db
TPGameDemo 4.18/Build
TPGameDemo 4.18/Plugins/UnrealEnginePython
TPGameDemo 4.19/Binaries
TPGameDemo 4.19/DerivedDataCache
TPGameDemo 4.19/Intermediate
TPGameDemo 4.19/Saved
TPGameDemo 4.19/TPGameDemo.VC.db
TPGameDemo 4.19/Build
TPGameDemo 4.19/Plugins/UnrealEnginePython
TPGameDemo 4.19/Content/ParagonGadget

*.VC.db
*.VC.opendb
*.txt
